@import-normalize;

body {
  font-family: $primary-font-stack;
  background-color: #e3fffd;
  background: linear-gradient(to right, #c9f5f2, #fad0f1);
}
button {
  cursor: pointer;
}
.Toastify__toast--error {
  border: 1px solid #eb0e0e;
  font-weight: bold;
  border-radius: 10px !important;
  background: rgb(228, 157, 160) !important;
}
